@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica';
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  /* button {
    background-color: #DC2626;
    padding: .5rem 1.25rem;
    color: white;
    font-weight: bold;
  } */

  input {
    border: 1px solid #939393;
  }
}